<html manifest="*.appcache">
</html>
@media mobile{
	max-width:48.0rem;
}

h1{
 font-size:8vw;
}

img, table,tr, td, blockquote, code, pre, textarea, input, iframe, object, embed, video {
    max-width: 100%;
}

table,tr,thead, tbody,td{
	display: block;
	width: auto;
}

