<html manifest="*.appcache">
</html>
@media mobile{
	max-width:48.0rem;
}

h1{
 font-size:8vw;
}

img, table, td, blockquote, code, pre, textarea, input, iframe, object, embed, video {
    max-width: 100%;
}

