<html manifest="*.appcache">
</html>
p{
 font-size:1.6rem;
}
h1{
 font-size:2.5rem;
}
h2{
 font-size:2.0rem;
}
para1{
 background-color:#3498db;
}

#IUT{
width:300px;
display:block;
margin-left:auto;
margin-right:auto;
-webkit-device-pixel-ratio:2;
}
