<html manifest="*.appcache">
</html>
p{
 font-size:1.6rem;
}
h1{
 font-size:2.5rem;
}
h2{
 font-size:2.0rem;
}
para1{
 background-color:#3498db;
}

tr,td{
 border:1px, solid, black;
}

#titre{
 background-color: grey;
}

#IUT{
width:30.0rem;
display:block;
margin-left:auto;
margin-right:auto;
}
