<html manifest="*.appcache">
</html>
p{
 font-size:1.6rem;
}
h1{
 font-size:2.5rem;
}
h2{
 font-size:2.0rem;
}
para1{
 background-color:#3498db;
}

table,th,tr,td{
 border:1px solid black;
}

th{
 background-color: lightgrey;
}

#IUT{
width:30.0rem;
display:block;
margin-left:auto;
margin-right:auto;
}

@media screen and (max-width:480px){
	max-width:48.0rem;

	h1{
	 font-size:8vw;
	}
	
	img, table,tr, td, blockquote, code, pre, textarea, input, iframe, object, embed, video {
	    max-width: 100%;
	}
	
	table{
		width: 100%;
		margin: 0px;	
	}
	
	tr{
		display:block;
		height: auto;
		width: 100%;
	}
	
	td, th{
		display: block;
		width: 100%;
	}
}

